body {
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#navegador ul {
    list-style-type: none;
    text-align: center;
    background-color: #39a900;
    height: 50px;
}

#navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #ffffff;
    background-color: #39a900;
    text-decoration: none;
}

#navegador li a:hover {
    background-color: #00324D;
    color: #ffffff;
}
footer {
    background-color: #39a900;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
.general{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -1000px;
}