body {
font-family: 'Inconsolata', monospace;
    background-color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navegador ul {
    list-style-type: none;
    text-align: center;
    background-color: #39a900;
    height: 50px;
}

#navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}

#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #ffffff;
    background-color: #39a900;
    text-decoration: none;
}

#navegador li a:hover {
    background-color: #00324D;
    color: #ffffff;
}
#contenido .c1{
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 800px;
    position: absolute;
    margin-left: 10%;
    text-align: center;
    size: 20px;
}
#contenido .c2{
    background-color: rgb(255, 255, 255);
    width: 33%;
    height: 800px;
    position: relative;
    margin-left: 55%;
    margin-top: -700px;
    text-align: center;
    size: 20px;
}

#contenido .c2{
    margin-top: -795px;
}
.logo1{
    position: relative;
    margin-left: 5%;
    margin-top: 200px;
}
h1{
    font-size: 30px;
}
.contenedor .logo2 .img2{
    position: relative;
    margin-left: 5%;
    margin-top: 500px;
}
footer {
    background-color: #287204;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
