body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navegador ul {
    list-style-type: none;
    text-align: center;
    background-color: #39a900;
    height: 50px;
}
#navegador li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 2px 7px;
    color: #ffffff;
    background-color: #39a900;
    text-decoration: none;
}
#navegador li a:hover {
    background-color: #00324D;
    color: #ffffff;
}


.redes{
    margin-left: 97%;
    width: 60px;
    height: 60px;
}
.redes2 {
    margin-left: 97%;
    width: 60px;
    height: 60px;
    background-color: #39a900;
}
.ins{
    margin-top: 10px;
    margin-left: 10px;
}
.historia{
    border: solid 1px black;
    width: 870px;
    height: 330px;
    font-size: 17px;
    text-align:justify;
    margin-left: 10px;
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
}

.fundador{
    margin-left: 900px;
    margin-top: -300px;
}

.vision{
    
    border: solid 1px black;
    width: 870px;
    height: 330px;
    font-size: 17px;
    text-align:justify;
    margin-left: 10px;
    font-family: 'Lora', serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 10px;
}
.mision{
    
    border: solid 1px black;
    width: 870px;
    height: 330px;
    font-size: 17px;
    text-align:justify;
    margin-left: 10px;
    font-family: 'Lora';
    font-family: 'Roboto Condensed';
    padding-left: 10px;
}
.todo{
    margin-top: -5%;
}

.logo{
    margin-top: -500px;
    margin-left: 75%;
}

.letra{
    margin-left: 70%;
    width: 500px;
    height: 200px;
    position: relative;
    text-align: center;
    font-family: cursive;
} 
footer {
    background-color: #39a900;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
}
.t1{
    margin-left: 35%;
    margin-top: -30%;
}
.t2 {
    margin-left: 35%;
    margin-top: -1%;
}